.col-info {
  margin-top: 10px;
}

.error-text {
  padding-top: 40px;
  font-size: 16px;	
}

.row-exception {
  margin-top: 10px;
}

.exception-string {
  margin-left: 46px;
}

.show-error {
  font-size: 12px;
}