.non-selected-attrvalue {
	border-radius: 10px;
	background-color: lightgreen !important;
	min-width: 40px !important;
	color: black !important;
}
.non-selected-attrvalue:hover
{
	background-color: lightgreen;
}

.selected-attrvalue {
	border-radius: 10px;
	background-color: lightpink !important;
	min-width: 40px !important;
	color: black !important;
}

.plant-view {
  width: 99%;
}

.allow {
  width: 13px;
}

.edit-button {
  min-width: 50px!important;
  border-radius: 10px;
}

#build-number {
  width: 50px;
}

#term {
  padding-top: 65px;
}

.editHeader{
width: 80px;
}

.button-div-bottom {
	margin-bottom: 10px;
}

.attribute-values-lbl{
  padding-left: 50px;
  margin-bottom: 8px;
}

.attribute-values li {
  list-style: none;
  margin-bottom: 0.4rem;
}

.attribute-values-display{
  padding-left: 54px;
}