<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.DelayDao">

	<!-- Delay Management Page SQL -->
  	<select id="getDelays" resultType="com.penske.apps.adminconsole.model.DelayModel"> 
 		<!-- SELECT 
			DLAY.DELAY_ID as delayId, 
			DLAY.DATE_TYPE as dateTypeId,
			DLAY.DATE_TYPE as dateType,
			DLAY.PO_CATEGORY as poCategoryId, 
			PCAT.PO_CATEGORY as poCategory,
			DLAY.DELAY_TYPE_ID as delayTypeId,
			DLTY.DELAY_TYPE as delayType,
			DLAY.DELAY_REASON_ID as delayReasonId,
			DRSN.DELAY_REASON as delayReason,
			 LOOKUP.LOOKUP_DESC as  dateTypeDesc 
		FROM 
			SMC.SMC_DELAYS DLAY
		LEFT JOIN
			SMC.SMC_DELAY_TYPES DLTY
		ON DLTY.DELAY_TYPE_ID = DLAY.DELAY_TYPE_ID
		LEFT JOIN
			SMC.SMC_DELAY_REASONS DRSN
		ON DRSN.DELAY_REASON_ID = DLAY.DELAY_REASON_ID
		LEFT JOIN
			SMC.SMC_PO_CATEGORY PCAT
		ON PCAT.PO_CATEGORY_ID = DLAY.PO_CATEGORY
		LEFT JOIN
	        SMC.SMC_LOOKUP LOOKUP
         ON DLAY.DATE_TYPE=LOOKUP.LOOKUP_VALUE
         -->
         
SELECT DLAY.DELAY_ID as delayId, 
			DLAY.DATE_TYPE as dateTypeId,
			DLAY.DATE_TYPE as dateType,
			DLAY.PO_CATEGORY as poCategoryId, 
			PCAT.PO_CATEGORY as poCategory,
			LOOKUP.LOOKUP_DESC as  dateTypeDesc,
             ASSOC.DELAY_TYPE_ID as delayTypeId,
            ASSOC.DELAY_REASON_ID as delayReasonId,
            (SELECT DRSN.DELAY_REASON FROM SMC.SMC_DELAY_REASONS as DRSN WHERE DRSN.DELAY_REASON_ID=ASSOC.DELAY_REASON_ID) as delayReason,
(SELECT DLTY.DELAY_TYPE FROM SMC.SMC_DELAY_TYPES as DLTY WHERE DLTY.DELAY_TYPE_ID=ASSOC.DELAY_TYPE_ID) as delayType

		FROM 
			SMC.SMC_DELAYS DLAY
		LEFT JOIN
			SMC.SMC_PO_CATEGORY PCAT
		ON PCAT.PO_CATEGORY_ID = DLAY.PO_CATEGORY
		LEFT JOIN
	        SMC.SMC_LOOKUP LOOKUP
         ON DLAY.DATE_TYPE=LOOKUP.LOOKUP_VALUE
       LEFT JOIN 
         SMC.SMC_DELAY_REASONS_TYPES_ASSOC ASSOC
       ON DLAY.DELAY_ASSOC_ID=ASSOC.DELAY_ASSOC_ID
 	</select>
 	<select id="checkDelay" resultType="Integer">
 		SELECT 1
		FROM
			SMC.SMC_DELAYS
		WHERE
			DATE_TYPE = #{dateTypeId}
		AND
			PO_CATEGORY = #{poCategoryId}
		AND
		DELAY_ASSOC_ID =#{delayTypeReasonId}
		<!-- 	DELAY_TYPE_ID = #{delayTypeId}
		AND
			DELAY_REASON_ID = #{delayReasonId}
			 -->
 	</select>
 	<select id="getDateTypes" resultType="Integer">
 		SELECT
 			SMC.SMC_DELAYS.DATE_TYPE
 		FROM
 			SMC.SMC_DELAYS
 	</select>
 	<select id="getId" resultType="Integer">
 		SELECT
 			DLAY.DELAY_ID as delayId
 		FROM
 			SMC.SMC_DELAYS DLAY
 		WHERE
 			DLAY.DATE_TYPE = #{dateTypeId}
 		AND
 			DLAY.PO_CATEGORY = #{poCategoryId}
 		AND
 			DELAY_ASSOC_ID =#{delayTypeReasonId}
		<!-- 	DELAY_TYPE_ID = #{delayTypeId}
		AND
			DELAY_REASON_ID = #{delayReasonId}
			 -->
 	</select>
 	<select id="getPOs" resultType="com.penske.apps.adminconsole.model.DelayPoModel">
 		SELECT
 			SMC.SMC_PO_CATEGORY.PO_CATEGORY_ID as categoryId,
 			SMC.SMC_PO_CATEGORY.PO_CATEGORY as categoryName
 		FROM
 			SMC.SMC_PO_CATEGORY ORDER BY UPPER(PO_CATEGORY) ASC
 	</select>
	<select id="getReasons" resultType="com.penske.apps.adminconsole.model.DelayReasonModel">
		SELECT
			SMC.SMC_DELAY_REASONS.DELAY_REASON_ID as reasonId,
			SMC.SMC_DELAY_REASONS.DELAY_REASON	as delayReason
		FROM
			SMC.SMC_DELAY_REASONS ORDER BY UPPER(DELAY_REASON) ASC
	</select>
	<select id="getAssocReasonIds" resultType="Integer">
		SELECT
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID as reasonId
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_TYPE_ID = #{typeId}
	</select>
	<select id="getAssocReason" resultType="com.penske.apps.adminconsole.model.DelayReasonModel">
		SELECT
			SMC.SMC_DELAY_REASONS.DELAY_REASON_ID as reasonId,
			SMC.SMC_DELAY_REASONS.DELAY_REASON as delayReason
		FROM
			SMC.SMC_DELAY_REASONS
		WHERE
			SMC.SMC_DELAY_REASONS.DELAY_REASON_ID = #{reasonId}
	</select>
	<select id="getTypeId" resultType="com.penske.apps.adminconsole.model.DelayModel">
		SELECT DELAY_ASSOC_ID as delayTypeReasonId,DATE_TYPE as dateType
		FROM SMC.SMC_DELAYS WHERE DELAY_ID = #{delayId}
	</select>
	<select id="getTypes" resultType="com.penske.apps.adminconsole.model.DelayTypeModel">
		SELECT
			SMC.SMC_DELAY_TYPES.DELAY_TYPE_ID as typeId,
			SMC.SMC_DELAY_TYPES.DELAY_TYPE as delayType
		FROM
			SMC.SMC_DELAY_TYPES ORDER BY UPPER(DELAY_TYPE) ASC
	</select>
	<update id="modifyDelay">
		UPDATE
			SMC.SMC_DELAYS DLAY
		SET
			DLAY.DATE_TYPE = #{dateTypeId},
			DLAY.PO_CATEGORY = #{poCategoryId},
			DELAY_ASSOC_ID =  #{delayTypeReasonId}
		WHERE
			DLAY.DELAY_ID = #{delayId}
	</update>
	<insert id="addDelay" useGeneratedKeys="true" keyProperty="delayId">
		INSERT INTO
		SMC.SMC_DELAYS
			(DATE_TYPE, PO_CATEGORY, DELAY_ASSOC_ID)
		VALUES 
			(#{dateTypeId}, #{poCategoryId}, #{delayTypeReasonId} )
	</insert>
	<insert id="addDelayAssoc">
		INSERT INTO
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		VALUES 
			( #{delayTypeId}, #{delayReasonId} )
	</insert>
	<delete id="deleteDelay">
		DELETE FROM
			SMC.SMC_DELAYS 
		WHERE
			DELAY_ID = #{delayId}
	</delete>
	<!-- <delete id="deleteDelaysWithType">
		DELETE FROM
			SMC.SMC_DELAYS
		WHERE
			DELAY_TYPE_ID = #{typeId}
	</delete> -->
	<delete id="deleteDelaysWithReason">
		DELETE FROM
			SMC.SMC_DELAYS
		WHERE
			DELAY_REASON_ID = #{reasonId}
	</delete>
	<!-- Delay Reason Types Page SQL -->
	<insert id="addDelayType">
		INSERT INTO
			SMC.SMC_DELAY_TYPES
		(DELAY_TYPE)
		VALUES 
			( #{delayType} )
	</insert>
	<select id="getDelayType" resultType="com.penske.apps.adminconsole.model.DelayTypeModel">
		SELECT
			SMC.SMC_DELAY_TYPES.DELAY_TYPE_ID as typeId,
			SMC.SMC_DELAY_TYPES.DELAY_TYPE as delayType
		FROM
			SMC.SMC_DELAY_TYPES
		WHERE
			DELAY_TYPE = #{delayType}
	</select>
	<select id="getTypeAssociations" resultType="Integer">
		SELECT
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE
			DELAY_TYPE_ID = #{typeId}
	</select>
	<delete id="deleteDelayReasonOfType">
		DELETE FROM
			SMC.SMC_DELAY_REASONS
		WHERE
			DELAY_REASON_ID = #{reasonId}
	</delete>
	<delete id="deleteDelayType">
		DELETE FROM
			SMC.SMC_DELAY_TYPES
		WHERE
			DELAY_TYPE_ID = #{typeId}
	</delete>
	<update id="modifyDelayType">
		UPDATE
			SMC.SMC_DELAY_TYPES
		SET
			DELAY_TYPE = #{delayType}
		WHERE
			DELAY_TYPE_ID = #{typeId}
	</update>
	<!-- Delay Reason Codes Page SQL -->
	<select id="getAssociations" resultType="com.penske.apps.adminconsole.model.DelayModel">
		SELECT
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_TYPE_ID as delayTypeId,
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID as delayReasonId,
			SMC.SMC_DELAY_TYPES.DELAY_TYPE as delayType,
			SMC.SMC_DELAY_REASONS.DELAY_REASON as delayReason,
			DELAY_ASSOC_ID  as delayTypeReasonId
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC,
			SMC.SMC_DELAY_TYPES,
			SMC.SMC_DELAY_REASONS
		WHERE
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_TYPE_ID = SMC.SMC_DELAY_TYPES.DELAY_TYPE_ID
		AND
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID = SMC.SMC_DELAY_REASONS.DELAY_REASON_ID
	</select>
	<delete id="deleteDelayAssociation">
		DELETE FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE
			DELAY_TYPE_ID = #{typeId}
		AND
			DELAY_REASON_ID = #{reasonId}
	</delete>
	<delete id="deleteDelayReasonName">	
		DELETE FROM
			SMC.SMC_DELAY_REASONS
		WHERE
			DELAY_REASON_ID = #{reasonId}
	</delete>
	<select id="checkAssociation" resultType="Integer">
		SELECT 1
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE
			DELAY_TYPE_ID = #{typeId}
		AND
			DELAY_REASON_ID = #{reasonId}
	</select>
	<select id="checkReason" resultType="Integer">
		SELECT 1
		FROM
			SMC.SMC_DELAY_REASONS
		WHERE
			UPPER(DELAY_REASON) = UPPER(#{reasonName})
	</select>
	<update id="modifyDelayReason">
		UPDATE
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		SET
			(DELAY_TYPE_ID, DELAY_REASON_ID) = 
			(#{newReason.typeId}, #{newReason.reasonId})
		WHERE
			DELAY_TYPE_ID = #{oldReason.typeId}
		AND
			DELAY_REASON_ID = #{oldReason.reasonId}
	</update>
	<update id="modifyReasonName">
		UPDATE
			SMC.SMC_DELAY_REASONS
		SET
			DELAY_REASON = #{newName}
		WHERE
			DELAY_REASON_ID = #{id}
	</update>
	<insert id="addDelayReason">
		INSERT INTO
			SMC.SMC_DELAY_REASONS
			(DELAY_REASON)
		VALUES
			( #{reasonName} )
	</insert>
	<select id="getDelayReasonId" resultType="Integer">
		SELECT
			SMC.SMC_DELAY_REASONS.DELAY_REASON_ID
		FROM
			SMC.SMC_DELAY_REASONS
		WHERE
			DELAY_REASON = #{reasonName}
	</select>
	<insert id="addDelayAssociation">
		INSERT INTO SMC.SMC_DELAY_REASONS_TYPES_ASSOC ( DELAY_TYPE_ID, DELAY_REASON_ID)
		VALUES
			( #{typeId}, #{reasonId} )
		<selectKey resultType="int" keyProperty="delayAssocid" order="AFTER" >
           SELECT IDENTITY_VAL_LOCAL() as identity_val FROM SYSIBM.SYSDUMMY1
		</selectKey> 
	</insert>
	<select  id="getTypeReasonAssoc" resultType="com.penske.apps.adminconsole.model.DelayTypeReason">
		SELECT	DELAY_REASON_ID as reasonId,DELAY_TYPE_ID as typeId
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE DELAY_ASSOC_ID=#{typeReasonId}
	</select>
	
	<select  id="getTypeReasonAssocDate" resultType="com.penske.apps.adminconsole.model.DelayTypeReason">
	SELECT
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_TYPE_ID as typeId,
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID as reasonId,
			SMC.SMC_DELAY_TYPES.DELAY_TYPE as typeVal,
			SMC.SMC_DELAY_REASONS.DELAY_REASON as reasonVal
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC,
			SMC.SMC_DELAY_TYPES,
			SMC.SMC_DELAY_REASONS
		WHERE
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_TYPE_ID = SMC.SMC_DELAY_TYPES.DELAY_TYPE_ID
		AND
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC.DELAY_REASON_ID = SMC.SMC_DELAY_REASONS.DELAY_REASON_ID
	   AND  DELAY_ASSOC_ID=#{typeReasonId}
		</select>
	<update id="modifyDelayTypeReasonAssoc">
		UPDATE
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		SET
			(DELAY_TYPE_ID, DELAY_REASON_ID) = 
			(#{typeId}, #{reasonId})
		WHERE DELAY_ASSOC_ID = #{delayAssocid}
	</update>
	
	<delete id="deleteDelayTypeReasonByAssoc">
		DELETE  FROM SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE DELAY_ASSOC_ID=#{delayAssocid}
	</delete>
	<delete id="deleteDelayByAssoc">
		DELETE FROM SMC.SMC_DELAYS WHERE DELAY_ASSOC_ID=#{delayAssocid}
	</delete>
	
	<delete id="deleteAllDelayByReasonId">	
		DELETE FROM SMC.SMC_DELAYS
		WHERE DELAY_ASSOC_ID IN(
			SELECT DELAY_ASSOC_ID 
			FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC WHERE DELAY_REASON_ID=#{reasonId}
		)
	</delete>
	
	<delete id="deleteAllTypeReasonAssocByReasonId">	
		DELETE FROM SMC.SMC_DELAY_REASONS_TYPES_ASSOC WHERE DELAY_REASON_ID = #{reasonId}
	</delete>
	
	<delete id="deleteAllDelayByTypeId">	
		DELETE FROM SMC.SMC_DELAYS
		WHERE DELAY_ASSOC_ID IN(
			SELECT DELAY_ASSOC_ID 
			FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC WHERE DELAY_TYPE_ID=#{typeId}
		)
	</delete>
	
	<delete id="deleteAllTypeReasonAssocByTypeId">	
		DELETE FROM SMC.SMC_DELAY_REASONS_TYPES_ASSOC WHERE DELAY_TYPE_ID=#{typeId}
	</delete>
	
	<select  id="getAssocByTypeReasonId" resultType="com.penske.apps.adminconsole.model.DelayTypeReason">
		SELECT	DELAY_REASON_ID as reasonId,DELAY_TYPE_ID as typeId, DELAY_ASSOC_ID as delayAssocid
		FROM
			SMC.SMC_DELAY_REASONS_TYPES_ASSOC
		WHERE DELAY_REASON_ID=#{reasonId}
		AND DELAY_TYPE_ID=#{typeId}
	</select>
	
	<select id="checkDelayTypeExist" resultType="Integer">
		SELECT 1
		FROM
			SMC.SMC_DELAY_TYPES
		WHERE
			UPPER(DELAY_TYPE) = UPPER(#{delayType})
	</select>
</mapper>