<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.HeaderDao">	
	<select id="getAllTabNames" resultType="string">
 		SELECT 	TABNAME
 		
		FROM 	SMC.SMC_TAB_MASTER T
		
		GROUP BY TABNAME
 	</select>
 	
 	<select id="getPermissions" resultType="com.penske.apps.adminconsole.model.Permission">
 		SELECT 	NAME AS name,  
 				DESCRIPTION AS description, 
 				TABNAME AS tabName
 				
 		FROM 	SMC.SMC_ROLE_SEC_FUNCTIONS F, 
 			 	SMC.SMC_SECURITY_FUNCTION S, 
 			 	SMC.SMC_TAB_MASTER T 
 			 	
 		WHERE 	F.SEC_FUNC_ID = S.SEC_FUNC_ID 
 		AND 	S.TAB_ID = T.TAB_ID 
 		AND 	ROLE_ID = #{value}
 	</select>
</mapper>