<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.suppliermgmt.dao.LookUpDAO">

 	
	<select id="getAllLookupList" resultMap="lookUpDetailsMap">
		SELECT  LOOKUP_ID,
				LOOKUP_NAME,
				LOOKUP_VALUE,
				LOOKUP_DESC,
				LOOKUP_SEQ,
				LOOKUP_STATUS
			FROM SMC_LOOKUP WHERE LOOKUP_STATUS='A'  ORDER BY LOOKUP_NAME ,LOOKUP_SEQ
	</select>  
	
	<resultMap id="lookUpDetailsMap" type="com.penske.apps.suppliermgmt.model.LookUp">
	    <result property="lookUpId" 		column="LOOKUP_ID" 		javaType="int" 	jdbcType="INTEGER"/>
		<result property="lookUpName" 		column="LOOKUP_NAME" 	javaType="String" 	jdbcType="VARCHAR"/>
		<result property="lookUpValue" 		column="LOOKUP_VALUE" 	javaType="String" 	jdbcType="VARCHAR"/>
		<result property="lookUpDesc" 		column="LOOKUP_DESC" 	javaType="String" 	jdbcType="VARCHAR"/>
		<result property="lookUpSeq" 		column="LOOKUP_SEQ" 	javaType="int" 	jdbcType="SMALLINT"/>
		<result property="lookUpStatus" 	column="LOOKUP_STATUS" 	javaType="String" 	jdbcType="CHAR"/>
	</resultMap>
	
	<select id="getLookupDetails" resultType="com.penske.apps.suppliermgmt.model.LookUp">
		
		SELECT MAX(CREATED_DATE) AS maxCreatedDate,
		MAX(MODIFIED_DATE) AS maxModifiedDate,
		COUNT(1) AS count
		FROM SMC_LOOKUP
		
	</select>
	
</mapper>