<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.NotificationDao">

	<select id="selectNotification" resultType="com.penske.apps.adminconsole.model.Notification">
		SELECT 	N.NOTIFICATION_ID AS notificationId, 
				A.ALERT_NAME AS alertMetric,
				N.COMPLIANCE_TYPE AS complianceType,
				N.COMPLIANCE_COUNT AS complianceCount, 
				N.ESCALATION_ONE_DAYS AS escalationOneDays, 
				N.ESCALATION_TWO_DAYS AS escalationTwoDays, 
				N.ESCALATION_THREE_DAYS AS escalationThreeDays,
				N.VISIBILITY_VENDOR AS visibilityVendor,
				N.VISIBILITY_PURCHASING AS visibilityPurchasing,
				N.VISIBILITY_PLANNING AS visibilityPlanning
				
		FROM 	SMC.SMC_NOTIFICATIONS N,
				SMC.SMC_ALERTS A
		
		WHERE 	N.ALERT_ID = A.ALERT_ID
		AND 	N.NOTIFICATION_ID = #{notificationId}
	</select>

	<select id="selectAllNotifications" resultType="com.penske.apps.adminconsole.model.Notification">
		SELECT 	N.NOTIFICATION_ID AS notificationId, 
				A.ALERT_NAME AS alertMetric,
				N.COMPLIANCE_TYPE AS complianceType,
				N.COMPLIANCE_COUNT AS complianceCount, 
				N.ESCALATION_ONE_DAYS AS escalationOneDays, 
				N.ESCALATION_TWO_DAYS AS escalationTwoDays, 
				N.ESCALATION_THREE_DAYS AS escalationThreeDays,
				N.VISIBILITY_VENDOR AS visibilityVendor,
				N.VISIBILITY_PURCHASING AS visibilityPurchasing,
				N.VISIBILITY_PLANNING AS visibilityPlanning
				
		FROM 	SMC.SMC_NOTIFICATIONS N,
				SMC.SMC_ALERTS A
				
		WHERE 	N.ALERT_ID = A.ALERT_ID
	</select>
	
	<select id="selectEscalationContacts" resultType="com.penske.apps.adminconsole.model.NotificationParty">
		SELECT 	np.VALUE AS contact,
				np.ESCALATION_GROUP AS escalationGroup,
				np.ESCALATION_LVL AS escalationLevel,
				np.IS_EMAIL AS isEmail
				
		FROM 	SMC.SMC_NOTIFICATION_PARTY np 
				JOIN SMC.SMC_NOTIFICATIONS n 
				ON np.NOTIFICATION_ID = n.NOTIFICATION_ID
				
		WHERE 	np.ESCALATION_LVL = #{escalationLevel}
		AND 	n.NOTIFICATION_ID = #{notificationId}
	</select>
	
	<select id="selectAllNotificationPartiesByGroup" resultType="com.penske.apps.adminconsole.model.NotificationParty">
		SELECT 	np.VALUE AS contact,
				np.ESCALATION_GROUP AS escalationGroup,
				np.ESCALATION_LVL AS escalationLevel,
				np.IS_EMAIL AS isEmail
				
		FROM 	SMC.SMC_NOTIFICATION_PARTY np 
				JOIN SMC.SMC_NOTIFICATIONS n 
				ON np.NOTIFICATION_ID = n.NOTIFICATION_ID
				
		WHERE 	n.NOTIFICATION_ID = #{notificationId}
		AND 	np.ESCALATION_GROUP = #{escalationGroup}
	</select>
	
	<select id="selectVendorPrimary" resultType="com.penske.apps.adminconsole.model.NotificationParty">
		SELECT 	np.VALUE AS contact,
				np.ESCALATION_GROUP AS escalationGroup,
				np.ESCALATION_LVL AS escalationLevel,
				np.IS_EMAIL AS isEmail
				
		FROM 	SMC.SMC_NOTIFICATION_PARTY np
				JOIN SMC.SMC_NOTIFICATIONS n 
				ON np.NOTIFICATION_ID = n.NOTIFICATION_ID
				
		WHERE 	np.ESCALATION_LVL = #{escalationLevel}
		AND 	n.NOTIFICATION_ID = #{notificationId}
		AND		(np.VALUE='OEM PRIMARY' OR np.value='VENDOR PRIMARY')
	</select>
	
	<select id="selectVendorSecondary" resultType="com.penske.apps.adminconsole.model.NotificationParty">
		SELECT	np.VALUE AS contact,
				np.ESCALATION_GROUP AS escalationGroup,
				np.ESCALATION_LVL AS escalationLevel,
				np.IS_EMAIL AS isEmail
				
		FROM 	SMC.SMC_NOTIFICATION_PARTY np 
				JOIN SMC.SMC_NOTIFICATIONS n 
				ON np.NOTIFICATION_ID = n.NOTIFICATION_ID
				
		WHERE 	np.ESCALATION_LVL = #{escalationLevel}
		AND 	n.NOTIFICATION_ID = #{notificationId}
		AND 	(np.VALUE='OEM SECONDARY' OR np.value='VENDOR SECONDARY')
	</select>
	
	<select id="updateNotification">
		UPDATE	SMC.SMC_NOTIFICATIONS
		
		SET 	ESCALATION_ONE_DAYS = #{notificationForm.escalationOneDays},
				ESCALATION_TWO_DAYS = #{notificationForm.escalationTwoDays},
				ESCALATION_THREE_DAYS = #{notificationForm.escalationThreeDays},
				COMPLIANCE_TYPE = #{notificationForm.complianceType},
				COMPLIANCE_COUNT = #{notificationForm.complianceCount}
				
		WHERE 	NOTIFICATION_ID = #{notificationForm.notificationId}
	</select>
	
	<select id="doesNotificationPartyExist" resultType="Integer">
		SELECT	COUNT(*)
		
		FROM 	SMC.SMC_NOTIFICATION_PARTY np
		
		WHERE 	np.NOTIFICATION_ID = #{notificationId} 
		AND 	np.ESCALATION_GROUP = #{escalationGroup} 
		AND 	np.ESCALATION_LVL = #{escalationLevel} 
		AND 	np.VALUE = #{value} 
		AND 	np.IS_EMAIL = #{isEmail}
	</select>
	
	<select id="insertNotificationParty">
		INSERT INTO SMC.SMC_NOTIFICATION_PARTY
		(NOTIFICATION_ID, ESCALATION_GROUP, ESCALATION_LVL, VALUE, IS_EMAIL)
		VALUES (#{notificationId}, #{escalationGroup}, #{escalationLevel}, #{value}, #{isEmail})
	</select>
	
	<select id="deleteNotificationParty">
		DELETE FROM SMC.SMC_NOTIFICATION_PARTY
		
		WHERE 	NOTIFICATION_ID = #{notificationId} 
		AND 	ESCALATION_GROUP = #{escalationGroup} 
		AND 	ESCALATION_LVL = #{escalationLevel} 
		AND 	VALUE = #{value} 
		AND 	IS_EMAIL = #{isEmail}
	</select>
	
	<select id="selectAllUserEmails" resultType="String">
		SELECT 	DISTINCT ui.EMAIL
		
		FROM	SMC.SMC_USER_MASTER ui
	</select>
	
	<select id="deleteAllUserEmailsForNotificationGroupAndLevel">
		DELETE FROM SMC.SMC_NOTIFICATION_PARTY
		
		WHERE 	NOTIFICATION_ID = #{notificationId}
		AND 	ESCALATION_GROUP = #{escalationGroup}
		AND 	ESCALATION_LVL = #{escalationLevel}
		AND 	IS_EMAIL = 1
	</select>
</mapper>