<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.BodyPlantBuildHistoryDao">

	<insert id="insertNewBuild"  >
 		<selectKey keyProperty="build.buildId" resultType="int" order="BEFORE" >
			SELECT NEXT VALUE FOR SMC.BLDREQSEQ FROM (VALUES (1))
		</selectKey>
 		INSERT INTO SMC.OBM_RUN_SUMMARY (
 			RUN_ID ,
 			RUN_STATUS,
 			STARTED_BY,
 			STARTED_DATE
 		) VALUES (
 			#{build.buildId},
 			'P',
 			#{user.userSSO},
 			CURRENT TIMESTAMP
 		)
	</insert>
</mapper>