<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.ShipThruLeadTimeDAO">

  <select id="getShipThruLeadTimes" resultType="ShipThruLeadTime">
    SELECT LEAD_TIME_ID, 
           PO_CATEGORY, 
           OEM,
           MODEL,
           SHIP_THRU_UPFITTER,
           DESTINATION_STATE,
           LEAD_DAYS
      FROM SMC.SMC_SHIP_THRU_LEAD
  </select>
    
</mapper>