<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.SubjectDao">
 	
 	<select id="getAllSubjects" resultType="com.penske.apps.adminconsole.model.Subject">
 		SELECT	SUBJECT_ID AS subjectId,
 				SUBJECT_NAME AS subjectName,
 				DEPARTMENT AS department,
 				TYPE AS type,
 				STATUS AS status
 				
 		FROM	SMC.SMC_SUBJECTS
 		
 		WHERE	STATUS = 1
 	</select>
 	
 	<insert id="addSubject">
 		INSERT INTO SMC.SMC_SUBJECTS
 		( SUBJECT_NAME, DEPARTMENT,  TYPE,  STATUS )
		VALUES( #{subjectName}, #{department}, #{type}, 1 )
 	</insert>
 	
 	<update id="modifySubjectStatus">
 		UPDATE	SMC.SMC_SUBJECTS
 		
 		SET		STATUS = 0
 		
 		WHERE	SUBJECT_ID = #{value}
 	</update>
 	
 	<update id="modifySubject">
 		UPDATE	SMC.SMC_SUBJECTS
 		
 		SET		SUBJECT_NAME = #{subjectName},
 				DEPARTMENT = #{department},
 				TYPE = #{type}
 		
 		WHERE	SUBJECT_ID = #{subjectId}
 	</update>

</mapper>