<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.adminconsole.dao.TemplateDao">

  	<select id="getAllTemplateNames" resultType="string">  
 		SELECT 	TEMPLATE_NAME 

		FROM	SMC.SMC_SEARCH_TEMPLATES
		
		ORDER BY TEMPLATE_NAME
 	</select>  
 	
 	<select id="getAllTemplates" resultType="com.penske.apps.adminconsole.model.SearchTemplate">
 		SELECT	t.TABNAME AS tabName,
				st.TEMPLATE_NAME AS templateName,
				st.DISPLAY_SEQUENCE AS displaySequence,
				CASE WHEN t.TEMPLATE_ID = st.TEMPLATE_ID
					THEN 1
					ELSE 0
				END AS defaultForTab,
				st.TEMPLATE_ID AS templateId,
				st.VISIBILITY_PENSKE AS visibilityPenske,
				st.VISIBILITY_VENDOR AS visibilityVendor
		
		FROM	SMC.SMC_TAB_MASTER t,
				SMC.SMC_ALERT_HEADER ah,
				SMC.SMC_ALERTS a,
				SMC.SMC_SEARCH_TEMPLATES st
				
		WHERE	t.TAB_ID = ah.TAB_ID
		AND		ah.HEADER_ID = a.HEADER_ID
		AND		a.TEMPLATE_ID = st.TEMPLATE_ID
		AND		t.DASHBOARD_TAB = 1
 	</select>
 	
 	<select id="selectSearchTemplate" resultType="com.penske.apps.adminconsole.model.SearchTemplate">
 		SELECT	t.TABNAME AS tabName,
				st.TEMPLATE_NAME AS templateName,
				st.DISPLAY_SEQUENCE AS displaySequence,
				CASE WHEN t.TEMPLATE_ID = st.TEMPLATE_ID
					THEN 1
					ELSE 0
				END AS defaultForTab,
				st.TEMPLATE_ID AS templateId,
				st.VISIBILITY_PENSKE AS visibilityPenske,
				st.VISIBILITY_VENDOR AS visibilityVendor
		
		FROM	SMC.SMC_TAB_MASTER t,
				SMC.SMC_ALERT_HEADER ah,
				SMC.SMC_ALERTS a,
				SMC.SMC_SEARCH_TEMPLATES st
				
		WHERE	t.TAB_ID = ah.TAB_ID
		AND		ah.HEADER_ID = a.HEADER_ID
		AND		a.TEMPLATE_ID = st.TEMPLATE_ID
		AND		t.DASHBOARD_TAB = 1
		AND		st.TEMPLATE_ID = #{templateId}
 	</select>

</mapper>