<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.suppliermgmt.dao.LoginDAO">

    <select id="getUserVendorFilterSelections" resultType="com.penske.apps.suppliermgmt.domain.UserVendorFilterSelection">
         SELECT orgMaster.ORG_ID,
                vendorFilter.VENDOR_ID,
                vendorFilter.IS_ACTIVE
          FROM SMC.SMC_VENDOR_FILTER vendorFilter
               INNER JOIN SMC.SMC_ORG_VENDOR_ASSOC vendorAssoc
               ON vendorAssoc.VENDOR_ID = vendorFilter.VENDOR_ID
               
               INNER JOIN SMC.SMC_ORG_MASTER orgMaster
               ON orgMaster.ORG_ID = vendorAssoc.ORG_ID
    
         WHERE vendorFilter.USER_ID = #{userId}
           AND orgMaster.PARENT_ORG_ID = 1 -- only loads orgs which have a parent equal to 1 (Penske) -- Dave Roth
  </select>
</mapper>