.build-mix-top {
	margin-bottom: 10px;
}

.badge-div {
	margin-bottom: 10px;
}

.build-mix-top .badge-div .badge,
.build-mix-top .weeks-badge-div .badge{
	margin-right: 10px;
}

.attribute-container {
	border: 1px solid #EBEBEB;
	border-radius: 10px;
	padding: 10px;
	min-width: 320px;
	margin-bottom: 10px;
}

.attribute-header h2 {
	display: inline-block;
}

.attribute-header {
	margin-top: 10px;
}

.attribute-table-container .attribute-table{
	width: 100%;
}

.attribute-table input { 
	margin: 0px;
	width: 50px;
	text-align: right;
	padding-right:4px;
}

.attribute-table td:first-child {
	padding-left: 5px;
}

.attribute-total-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.attribute-total-row td{
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.total-percentage,
.total-units {
	display:inline-block;
	width:50px;
	padding-right:4px;
}

.text-align-right {
	text-align:right;
}

.text-align-center {
	text-align:center;
}

/* .attribute-row {
	margin-bottom: 10px;
} */

.percent-sign,
.units-label {
	margin-left: 10px;
}

.attribute-table {
	margin-bottom: 0px;
}

.unit-percent-input {
	min-width: 100px;
	width: 44%;
}

.attribute-value-td {
	width: 16%;
} 



/* .attribute-table .attribute-percentage-td,
.attribute-table .attribute-units-td {
	width: 80px;
} */
