input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed !important;
  background-color: #CECECE !important;
}

.round-corner-btn-cls {
	border-radius: 10px;
}

table.dataTable th {
  padding: 8px 10px !important;
}

.error-input {
	background-color: #F7D9D9 !important;
}

.display-none{
	display: none;
}