.rowgroupHeader{
	color: #828282;
    font-size: 17px;
}

#bottom-view {
  padding-bottom: 1%;
}

#maint-table-view {
  width: 100%;
}

#save-div {
  text-align: right;
  padding: 1%;
}

.oem-value {
  width: 7%; 
  text-align: center;
}

#delete-display {
  min-width: 50px;
}

#table-data1 {
  width: 70%
}

#table-data2 {
  width: 30%
}

#table-head1 {
  width: 12%
}

#table-head2 {
  width: 15%
}