.slot-results-table-top {
	margin-top: 10px;
	margin-bottom: 10px;
}

.slot-results-table-top  div {
	display: inline-block;
}

.Filter-div {
    margin-left: 3px;
}

.width-75 {
	width: 75px;
}

.width-55 {
	width: 60px;
}

.change-required {
	margin-left: 5px;
}

.production-slot-actions {
color: #FFFFFF !important;
}

.unit-selection{
	padding-right: 2px;
}

.hideOption{
	display:none !important;
}
#order-column{
	width: 80px;
}
#slot-search{
	width: 110px;
}
.delete-confrim-button-row{
  padding-top: 10px;
}
.confirm-modal-content{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.formLbl {
	font-weight: bold;
}
#update-reservation-table{
	width: 100%;
}
#save-reservation-div{
	padding-top: 12px;	
}

.update-res-input{
	width: 170px;
}