.slot-maintenance-table-top {
	margin-top: 10px;
	margin-bottom: 10px;
}

.slot-maintenance-table-top  div {
	display: inline-block;
}

.available-slot-input{
	width: 70px;
    text-align: center;
    -webkit-appearance: none;
}

.year-div{
	padding-left: 35px;
}

.slot-table-header{
	width: 105px !important;
}
