<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.buildmatrix.dao.BuildMatrixCorpDAO">

	<!--***** BUILD MATRIX WORKFLOW *****-->
	
	<!-- AVAILABLE CHASSIS -->
	<select id="getAvailableChassisCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			(CORP.NVOPODL1 AS CORP_NVOPODL1 
			INNER JOIN CORP.LVEHFIL AS CORP_LVEHFIL 
			ON (CORP_NVOPODL1.CORP = CORP_LVEHFIL.VFCORP) AND (CORP_NVOPODL1.UNIT = CORP_LVEHFIL.VFUNIT))
		INNER JOIN CORP.FVEHCMP AS CORP_FVEHCMP 
			ON (CORP_LVEHFIL.VFCORP = CORP_FVEHCMP.VCCORP) AND (CORP_LVEHFIL.VFUNIT = CORP_FVEHCMP.VCUNIT) 
		WHERE 
			CORP_LVEHFIL.VFVCST IN ('WIP', 'ORDERED')
			AND (((CORP_LVEHFIL.VFDIST)='0816' 
				OR(CORP_LVEHFIL.VFDIST)='0621' 
				OR (CORP_LVEHFIL.VFDIST)='0623') 
			AND ((CORP_NVOPODL1.VEHICLE_CATEGORY)='TRUCK')
		    AND ((CORP_NVOPODL1.PO_STATUS) != 'VOID') 
		    AND ((YEAR(CORP_NVOPODL1.REQ_BUILD_DATE)) IN (2019, 2020, 2021)) 
		    AND ((CORP_LVEHFIL.VFUSE)='RENTAL')
		    AND ((CORP_NVOPODL1.CHANGE_NUMBER) &lt; 1))
		    AND CORP_LVEHFIL.VFVCST IN ('WIP', 'ORDERED')
	</select>
   	
   	<select id="getAvailableChassis" resultType="com.penske.apps.buildmatrix.domain.AvailableChassis">
		SELECT 
			CORP_LVEHFIL.VFCORP as corp, 
			CORP_NVOPODL1.UNIT as unitNumber, 
			CORP_LVEHFIL.VFREGN as regionNumber,
		    CORP_LVEHFIL.VFDIST as districtNumber
		FROM 
			(CORP.NVOPODL1 AS CORP_NVOPODL1 
			INNER JOIN CORP.LVEHFIL AS CORP_LVEHFIL 
			ON (CORP_NVOPODL1.CORP = CORP_LVEHFIL.VFCORP) AND (CORP_NVOPODL1.UNIT = CORP_LVEHFIL.VFUNIT))
		INNER JOIN CORP.FVEHCMP AS CORP_FVEHCMP 
			ON (CORP_LVEHFIL.VFCORP = CORP_FVEHCMP.VCCORP) AND (CORP_LVEHFIL.VFUNIT = CORP_FVEHCMP.VCUNIT) 
		WHERE 
			CORP_LVEHFIL.VFVCST IN ('WIP', 'ORDERED')
			AND (((CORP_LVEHFIL.VFDIST)='0816' 
				OR(CORP_LVEHFIL.VFDIST)='0621' 
				OR (CORP_LVEHFIL.VFDIST)='0623') 
			AND ((CORP_NVOPODL1.VEHICLE_CATEGORY)='TRUCK')
		    AND ((CORP_NVOPODL1.PO_STATUS) != 'VOID') 
		    AND ((YEAR(CORP_NVOPODL1.REQ_BUILD_DATE)) IN (2019, 2020, 2021)) 
		    AND ((CORP_LVEHFIL.VFUSE)='RENTAL')
		    AND ((CORP_NVOPODL1.CHANGE_NUMBER) &lt; 1))
	</select>
   	
</mapper>