<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.buildmatrix.dao.BuildMatrixCorpDAO">

	<select id="getAvailableChassisCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
				(CORP.NVOPODL1 AS CORP_NVOPODL1 
			INNER JOIN CORP.LVEHFIL AS CORP_LVEHFIL 
				ON (CORP_NVOPODL1.CORP = CORP_LVEHFIL.VFCORP) AND (CORP_NVOPODL1.UNIT = CORP_LVEHFIL.VFUNIT))
			INNER JOIN CORP.FVEHCMP AS CORP_FVEHCMP 
				ON (CORP_LVEHFIL.VFCORP = CORP_FVEHCMP.VCCORP) AND (CORP_LVEHFIL.VFUNIT = CORP_FVEHCMP.VCUNIT) 
			WHERE 
				(((CORP_LVEHFIL.VFDIST)='0816' 
				OR (CORP_LVEHFIL.VFDIST)='0621' 
				Or (CORP_LVEHFIL.VFDIST)='0623') 
			AND ((CORP_NVOPODL1.VEHICLE_CATEGORY)='TRUCK')
			AND ((CORP_NVOPODL1.PO_STATUS) != 'VOID') 
			AND ((YEAR(CORP_NVOPODL1.REQ_BUILD_DATE)) = 2020) 
			AND ((CORP_LVEHFIL.VFUSE)='RENTAL')
			AND ((CORP_NVOPODL1.CHANGE_NUMBER) &lt; 1))
	</select>
	
	<select id="getManufacturersByType" resultType="com.penske.apps.buildmatrix.model.ManufacturerDetails">
   		SELECT DISTINCT
  				MFCODE as mfrCode,
   				MFNAME as mfrName
   		FROM
   		  		CORP.FVEHMFR
		WHERE
				MFTYP${poCategoryType.mfrFieldCode} = #{poCategoryType.mfrFieldCode}
		ORDER BY
   				MFNAME
   	</select>
	
</mapper>