<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.buildmatrix.dao.BuildMatrixCorpDAO">

	<!--***** BUILD MATRIX WORKFLOW *****-->
	
	<!-- AVAILABLE CHASSIS -->
	<select id="getAvailableChassisCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			(CORP.NVOPODL1 AS CORP_NVOPODL1 
			INNER JOIN CORP.LVEHFIL AS CORP_LVEHFIL 
			ON (CORP_NVOPODL1.CORP = CORP_LVEHFIL.VFCORP) AND (CORP_NVOPODL1.UNIT = CORP_LVEHFIL.VFUNIT))
		INNER JOIN CORP.FVEHCMP AS CORP_FVEHCMP 
			ON (CORP_LVEHFIL.VFCORP = CORP_FVEHCMP.VCCORP) AND (CORP_LVEHFIL.VFUNIT = CORP_FVEHCMP.VCUNIT) 
		WHERE 
			(((CORP_LVEHFIL.VFDIST)='0816' 
				OR(CORP_LVEHFIL.VFDIST)='0621' 
				OR (CORP_LVEHFIL.VFDIST)='0623') 
			AND ((CORP_NVOPODL1.VEHICLE_CATEGORY)='TRUCK')
		    AND ((CORP_NVOPODL1.PO_STATUS) != 'VOID') 
		    AND ((YEAR(CORP_NVOPODL1.REQ_BUILD_DATE)) IN (2019, 2020, 2021)) 
		    AND ((CORP_LVEHFIL.VFUSE)='RENTAL')
		    AND ((CORP_NVOPODL1.CHANGE_NUMBER) &lt; 1))
	</select>
   	
   	<select id="getAvailableChassis" resultType="com.penske.apps.buildmatrix.domain.AvailableChassis">
		SELECT 
			CORP_LVEHFIL.VFCORP as corp, 
			<!-- CORP_NVOPODL1.PO_NUMBER,  -->
			CORP_NVOPODL1.UNIT as unitNumber, 
			CORP_LVEHFIL.VFREGN as regionNumber,
		    CORP_LVEHFIL.VFDIST as districtNumber
		    <!-- CORP_LVEHFIL.VFDISN,
		    CORP_NVOPODL1.PO_DATE, 
		    CORP_NVOPODL1.VEHICLE_CATEGORY,
		    CORP_NVOPODL1.PO_STATUS, 
		    CORP_NVOPODL1.VENDOR_NUMBER, 
		    CORP_NVOPODL1.REQ_BUILD_DATE, 
		    CORP_LVEHFIL.VFUNIT,
		    CORP_NVOPODL1.EST_PRODUCTION_DATE, 
		    CORP_NVOPODL1.ACTUAL_PROD_DATE, 
		    CORP_NVOPODL1.EST_DELIVERY_DATE,
		    CORP_NVOPODL1.ACTUAL_DELIVERY_DATE, 
		    CORP_LVEHFIL.VFUSE, 
		    CORP_LVEHFIL.VFMYR, 
		    CORP_LVEHFIL.VFMFRC,
		    CORP_LVEHFIL.VFMAKE, 
		    LTRIM(RTRIM(CORP_LVEHFIL.VFMODL)) AS VFMODL, 
		    LTRIM(RTRIM(CORP_LVEHFIL.VFCOLR)) AS VFCOLR, 
		    CORP_LVEHFIL.VFGVW, 
		    CORP_LVEHFIL.VFSIZE,
		    CORP_LVEHFIL.VFHIFT, 
		    CORP_LVEHFIL.VFHIIN, 
		    CORP_LVEHFIL.VFLLTH, 
		    CORP_LVEHFIL.VFCAT, 
		    LTRIM(RTRIM(CORP_LVEHFIL.VFTYPE)) AS VFTYPE,
		    CORP_FVEHCMP.VCBMFR, 
		    CORP_NVOPODL1.ENTERED_BY, 
		    CORP_NVOPODL1.TOTAL_UNIT_PRICE, 
		    CORP_FVEHCMP.VCRMFR,
		    CORP_FVEHCMP.VCRMOD, 
		    CORP_FVEHCMP.VCLMFR, 
		    CORP_FVEHCMP.VCLMOD, 
		    CORP_FVEHCMP.VCRDOR, 
		    CORP_FVEHCMP.VCTMFR,
		    CORP_FVEHCMP.VCBKTP, 
		    CORP_LVEHFIL.VFINDT, 
		    CORP_FVEHCMP.VCRSTY, 
		    CORP_LVEHFIL.VFLGFT, 
		    CORP_LVEHFIL.VFLGIN,
		    CORP_NVOPODL1.DESTINATION_CODE, 
		    CORP_NVOPODL1.DESTINATION_TYPE, 
		    CORP_NVOPODL1.DESTINATION_NAME,
		    CORP_NVOPODL1.DESTINATION_ADDRESS_1, 
		    CORP_NVOPODL1.DESTINATION_CITY, 
		    CORP_NVOPODL1.DESTINATION_STATE,
		    CORP_LVEHFIL.VFBASE, 
		    LTRIM(RTRIM(CORP_LVEHFIL.VFFUEL)) AS VFFUEL, 
		    CORP_LVEHFIL.VFREEF, CORP_LVEHFIL.VFLIFT,
		    LTRIM(RTRIM(CORP_FVEHCMP.VCFWHM)) AS VCFWHM
		    -->
		FROM 
			(CORP.NVOPODL1 AS CORP_NVOPODL1 
			INNER JOIN CORP.LVEHFIL AS CORP_LVEHFIL 
			ON (CORP_NVOPODL1.CORP = CORP_LVEHFIL.VFCORP) AND (CORP_NVOPODL1.UNIT = CORP_LVEHFIL.VFUNIT))
		INNER JOIN CORP.FVEHCMP AS CORP_FVEHCMP 
			ON (CORP_LVEHFIL.VFCORP = CORP_FVEHCMP.VCCORP) AND (CORP_LVEHFIL.VFUNIT = CORP_FVEHCMP.VCUNIT) 
		WHERE 
			(((CORP_LVEHFIL.VFDIST)='0816' 
				OR(CORP_LVEHFIL.VFDIST)='0621' 
				OR (CORP_LVEHFIL.VFDIST)='0623') 
			AND ((CORP_NVOPODL1.VEHICLE_CATEGORY)='TRUCK')
		    AND ((CORP_NVOPODL1.PO_STATUS) != 'VOID') 
		    AND ((YEAR(CORP_NVOPODL1.REQ_BUILD_DATE)) IN (2019, 2020, 2021)) 
		    AND ((CORP_LVEHFIL.VFUSE)='RENTAL')
		    AND ((CORP_NVOPODL1.CHANGE_NUMBER) &lt; 1))
	</select>
   	
</mapper>