<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penske.apps.buildmatrix.dao.BuildMatrixSmcDAO">
	
	<!-- District Proximity workflow -->

	<resultMap id="freightMileageMap" type="com.penske.apps.buildmatrix.domain.FreightMileage">
		<result property="plantId" column="plantId" />
		<result property="area" column="area" />
		<collection property="districts" column="{plantId=plantId,area=area}" select="getFreightMileageDistricts"></collection>
	</resultMap>

	<select id="getFreightMileageDistricts" resultType="String">
		SELECT   OFM.DISTRICT AS districtValues
		FROM     SMC.OBM_FREIGHT_MILEAGE OFM
		WHERE    OFM.PLANT_ID = #{plantId}
		AND      OFM.AREA = #{area}
	</select>

	<select id="getPlantProximity" resultType="com.penske.apps.buildmatrix.domain.PlantProximity">
		SELECT   PROXIMITY_ID as proximityId,
		         PLANT_ID as plantId,
		         TIER as tier,
		         DISTRICT as district
		FROM     SMC.OBM_PLANT_PROXIMITY
		WHERE    PLANT_ID =#{plantId}
	</select>

	<select id="getFreightMileageData" resultMap="freightMileageMap">
		SELECT   OFM.PLANT_ID AS plantId,
		         OFM.AREA AS area
		FROM     SMC.OBM_FREIGHT_MILEAGE OFM
		WHERE    OFM.AREA <![CDATA[<>]]> ''
		AND      OFM.PLANT_ID = #{plantId}
		GROUP BY OFM.AREA, OFM.PLANT_ID
		ORDER BY OFM.AREA
	</select>

	<update id="saveDistrictProximity">
		MERGE INTO SMC.OBM_PLANT_PROXIMITY AS proximity USING
		(
		VALUES
		<foreach collection="plantProximityData" item="data" separator="," >
			(
				CAST(#{data.plantId} AS INTEGER),
				CAST(#{data.tier} AS INTEGER),
				CAST(#{data.district} AS VARCHAR(10))
			)
		</foreach>
		)
		AS input
		(
			PLANT_ID,TIER,DISTRICT
		)
		ON proximity.PLANT_ID=input.PLANT_ID AND proximity.TIER=input.TIER AND
		proximity.DISTRICT=input.DISTRICT
		WHEN MATCHED THEN DELETE
		WHEN NOT MATCHED THEN
		INSERT
			(
			PLANT_ID,
			TIER,
			DISTRICT
			)
		 VALUES
			(
			input.PLANT_ID,
			input.TIER,
			input.DISTRICT
			)
	</update>
	
	<!-- Plant Maintenance workflow -->
	<select id="getAllBodyPlants" resultType="com.penske.apps.buildmatrix.domain.BuildMatrixBodyPlant">
		SELECT
			PLANT_ID AS plantId,
			PLANT_MFR_CODE AS plantMfrCode,
			PLANT_MANUFACTURER AS plantManufacturer,
			PLANT_NAME AS plantName,
			PLANT_STATE AS state,
			PLANT_ZIP AS zip,
			PLANT_COUNTRY AS country,
			PLANT_CITY AS city,
			OFFLINE_START AS offlineStartDate,
			OFFLINE_END AS offlineEndDate
		from OBM_PLANTS
	</select>
	
	<select id="getPlantData" resultType="com.penske.apps.buildmatrix.domain.BuildMatrixBodyPlant">
		SELECT
			PLANT_ID AS plantId,
			PLANT_MFR_CODE AS plantMfrCode,
			PLANT_MANUFACTURER AS plantManufacturer,
			PLANT_NAME AS plantName,
			PLANT_STATE AS state,
			PLANT_ZIP AS zip,
			PLANT_COUNTRY AS country,
			PLANT_CITY AS city,
			OFFLINE_START AS offlineStartDate,
			OFFLINE_END AS offlineEndDate
		from OBM_PLANTS
		WHERE PLANT_ID=#{plantId}
	</select>
	
	<update id="saveOfflineDates">
		UPDATE OBM_PLANTS 
		SET OFFLINE_START=#{offlineStartDate},
			OFFLINE_END=#{offlineEndDate}
		WHERE PLANT_ID=#{plantId}
	</update>

	<!--***** BUILD MATRIX WORKFLOW *****-->
	
	<!-- BUILD HISTROY -->
	<select id="getAllBuildHistory" resultType="com.penske.apps.buildmatrix.domain.BuildSummary">
		SELECT
			RUN_ID AS buildId,
	        UNIT_QTY AS quantity,
		    RUN_STATUS AS buildStatus,
	        starter.SSO as startedBySso,
	        starter.FIRST_NAME||' '||starter.LAST_NAME AS startedByName,
	        STARTED_DATE as startedDate,
	        submitter.SSO as submittedBySso,
	        submitter.FIRST_NAME||' '||submitter.LAST_NAME AS submittedByName,
	        SUBMITTED_DATE as submittedDate,
	        RUN_START_DATE as runStartDate,
	        RUN_END_DATE as runEndDate
		FROM SMC.OBM_RUN_SUMMARY runSummary
		LEFT JOIN SMC.SMC_USER_MASTER starter ON starter.SSO = runSummary.STARTED_BY
		LEFT JOIN SMC.SMC_USER_MASTER submitter ON submitter.SSO = runSummary.SUBMITTED_BY
		ORDER BY (CASE WHEN buildStatus = 'P' THEN 0 ELSE 1 END), buildId
	</select>
	
	<!-- BUILD FUNCTIONS -->
	<insert id="insertNewBuild" useGeneratedKeys="true" keyProperty="newBuild.buildId">
 		INSERT INTO SMC.OBM_RUN_SUMMARY (
 			RUN_STATUS,
 			UNIT_QTY,
 			STARTED_BY,
 			STARTED_DATE
 		) VALUES (
 			#{newBuild.buildStatus.code},
 			#{newBuild.quantity},
 			#{newBuild.startedBySso},
 			CURRENT TIMESTAMP
 		)
	</insert>
	
	<update id="updateBuild">
		UPDATE SMC.OBM_RUN_SUMMARY
		SET
			UNIT_QTY = #{existingBuild.quantity},
		    RUN_STATUS = #{existingBuild.buildStatus},
	        SUBMITTED_BY = #{existingBuild.submittedBySso},
	        SUBMITTED_DATE = #{existingBuild.submittedDate},
	        RUN_START_DATE = #{existingBuild.runStartDate},
	        RUN_END_DATE = #{existingBuild.runEndDate}
	    WHERE
	    	RUN_ID = #{existingBuild.buildId}
	</update>
	
	<select id="getBuildSummary" resultType="com.penske.apps.buildmatrix.domain.BuildSummary">
		SELECT
			RUN_ID AS buildId,
	        UNIT_QTY AS quantity,
		    RUN_STATUS AS buildStatus,
	        starter.SSO as startedBySso,
	        starter.FIRST_NAME||' '||starter.LAST_NAME AS startedByName,
	        STARTED_DATE as startedDate,
	        submitter.SSO as submittedBySso,
	        submitter.FIRST_NAME||' '||submitter.LAST_NAME AS submittedByName,
	        SUBMITTED_DATE as submittedDate,
	        RUN_START_DATE as runStartDate,
	        RUN_END_DATE as runEndDate
		FROM SMC.OBM_RUN_SUMMARY runSummary
		LEFT JOIN SMC.SMC_USER_MASTER starter ON starter.SSO = runSummary.STARTED_BY
		LEFT JOIN SMC.SMC_USER_MASTER submitter ON submitter.SSO = runSummary.SUBMITTED_BY
		WHERE RUN_ID = #{buildId}
	</select>
	
	<update id="submitBuild">
		UPDATE SMC.OBM_RUN_SUMMARY
		SET
			RUN_STATUS = #{status.code},
			SUBMITTED_BY = #{sso},
			SUBMITTED_DATE = CURRENT_TIMESTAMP
		WHERE
			RUN_ID = #{buildId}
	</update>
	
	<!-- CRO BUILD REQUESTS -->
	<insert id="insertCroBuildRequest" >
 		INSERT INTO SMC.OBM_CRO_BUILD_REQUEST (
 			RUN_ID,
 			ORDER_ID,
 			DELIVERY_ID
 		) VALUES (
 			#{buildId},
 			#{order.orderId},
 			#{order.deliveryId}
 		)
	</insert>

	<delete id="deleteCroBuildRequestsFromBuild">
	 	DELETE FROM SMC.OBM_CRO_BUILD_REQUEST
	 	WHERE RUN_ID = #{existingBuildId}
	</delete>

	<select id="getCroOrderKeysForBuild" resultType="com.penske.apps.buildmatrix.domain.CroOrderKey">
		SELECT
			ORDER_ID as orderId,
 			DELIVERY_ID as deliveryId
		FROM SMC.OBM_CRO_BUILD_REQUEST
		WHERE RUN_ID = #{buildId}
	</select>
	
	<!-- AVAILABLE CHASSIS -->
	<select id="getExcludedUnitCount" resultType="int">
		SELECT
			COUNT(*)
		FROM SMC.OBM_UNITS_EXCLUDED_FROM_BUILD
		WHERE RUN_YEAR = #{year}
	</select>
	
	<select id="getExcludedUnits" resultType="String">
		SELECT
			UNIT_NUMBER
		FROM SMC.OBM_UNITS_EXCLUDED_FROM_BUILD
		WHERE RUN_YEAR = #{year}
	</select>

	<insert id="excludeUnits">
		INSERT INTO SMC.OBM_UNITS_EXCLUDED_FROM_BUILD
 					(UNIT_NUMBER, RUN_YEAR)
 		VALUES
 			<foreach collection="excludedUnits" item="unit" separator="," open="" close="">
 				(#{unit}, #{year})
 			</foreach>
	</insert>

	<delete id="deleteExcludedUnits">
		DELETE FROM SMC.OBM_UNITS_EXCLUDED_FROM_BUILD
		WHERE RUN_YEAR = #{year}
		AND UNIT_NUMBER IN (
			<foreach collection="excludedUnits" item="unit" separator="," open="" close="">
				#{unit}
			</foreach>
		)
	</delete>
	
	<!-- BUSINESS AWARDS -->
	<insert id="insertBusinessAwards">
		INSERT INTO SMC.OBM_BUSINESS_AWARD
 				(RUN_ID, GROUP_KEY, AWARD_KEY, AWARD_KEY_ORDER, AWARD_PERCENTAGE, AWARD_QUANTITY, AWARD_TYPE)
 		VALUES
 			<foreach collection="awardsToInsert" item="award" separator="," open="" close="">
 				(#{award.buildId}, #{award.groupKey}, #{award.attributeValueKey}, #{award.awardOrder}, #{award.percentage}, #{award.quantity}, #{award.awardType})
 			</foreach>
	</insert>
	
	<!-- OEM MIX MAINTENANCE -->
	<select id="getBusinessAwardDefaults" resultType="com.penske.apps.buildmatrix.domain.BusinessAwardDefault">
		SELECT	
			BUSINESS_AWARD_DEFAULT_ID as businessDefaultId,
			GROUP_ID as groupId,
			ITEM_ID as attributeValueId,
			ITEM_ORDER as itemOrder,
			DEFAULT_VALUE as defaultPercentage
		FROM
			SMC.OBM_BUSINESS_AWARD_DEFAULTS
	</select>

	<update id="updateBusinessAwardDefault">
		UPDATE SMC.OBM_BUSINESS_AWARD_DEFAULTS
		SET 
			ITEM_ORDER = #{awardDefault.itemOrder},
			DEFAULT_VALUE = #{awardDefault.defaultPercentage}
		WHERE
			ITEM_ID = #{awardDefault.attributeValueId}
	</update>

	<insert id="insertBusinessAwardDefault">
		INSERT INTO SMC.OBM_BUSINESS_AWARD_DEFAULTS
 				(GROUP_ID, ITEM_ID, ITEM_ORDER, DEFAULT_VALUE)
 		VALUES
 			<foreach collection="defaultsToInsert" item="awardDefault" separator="," open="" close="">
 				(#{awardDefault.groupId}, #{awardDefault.attributeValueId}, #{awardDefault.itemOrder}, #{awardDefault.defaultPercentage})
 			</foreach>
	</insert>
	
	<!--***** BUILD ATTRIBUTE *****-->
	<resultMap type="com.penske.apps.buildmatrix.domain.BuildAttribute" id="BuildAttributeMap">
		<id column="ATTRIBUTE_ID"					property="attributeId" />
		<result column="ATTRIBUTE_KEY" 				property="attributeKey"/>
		<result column="ATTRIBUTE_NAME"   			property="attributeName"/>
		<result column="BUSINESS_AWARD_GROUP_ID"	property="groupId"/>
		<result column="GROUP_KEY"  				property="groupKey"/>
		<result column="GROUP_DESCRIPTION"    		property="groupDescription"/>
		<result column="GROUP_ORDER"    			property="groupOrder"/>
		<collection property="attributeValues"		ofType="com.penske.apps.buildmatrix.domain.BuildAttributeValue" column="ATTRIBUTE_ID" resultMap="BuildAttributeValueMap" columnPrefix="VAL_" />
	</resultMap>
	
	<resultMap type="com.penske.apps.buildmatrix.domain.BuildAttributeValue" id="BuildAttributeValueMap">
		<id column="ATTRIBUTE_VALUE_ID"			property="attributeValueId" />
		<result column="ATTRIBUTE_VALUE"		property="attributeValue" />
		<result column="DEFAULT_VALUE"			property="defaultPercentage" />
		<result column="ITEM_ORDER"				property="itemOrder" />
	</resultMap>
	
	<select id="getAllBuildMatrixAttributes" resultMap="BuildAttributeMap">
		SELECT
			attribute.ATTRIBUTE_ID,
			attribute.ATTRIBUTE_KEY,
			attribute.ATTRIBUTE_NAME,
			awardGroup.BUSINESS_AWARD_GROUP_ID,
			awardGroup.GROUP_KEY,
			awardGroup.GROUP_DESCRIPTION,
			awardGroup.GROUP_ORDER,
			val.ATTRIBUTE_VALUE_ID AS VAL_ATTRIBUTE_VALUE_ID,
			val.ATTRIBUTE_VALUE AS VAL_ATTRIBUTE_VALUE,
			COALESCE(awardDefs.DEFAULT_VALUE, 0 ) AS VAL_DEFAULT_VALUE,
			COALESCE(awardDefs.ITEM_ORDER, -1) AS VAL_ITEM_ORDER
		FROM SMC.OBM_ATTRIBUTE_VALUE val
		LEFT JOIN SMC.OBM_ATTRIBUTE attribute
			ON attribute.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		LEFT JOIN SMC.OBM_BUSINESS_AWARD_DEFAULTS awardDefs
			ON awardDefs.ITEM_ID = val.ATTRIBUTE_VALUE_ID
		LEFT JOIN SMC.OBM_BUSINESS_AWARD_GROUP awardGroup
			ON awardGroup.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		ORDER BY attribute.ATTRIBUTE_ID
	</select>
	
	<select id="getAttributesForBuild" resultMap="BuildAttributeMap">
		SELECT
			attribute.ATTRIBUTE_ID,
			attribute.ATTRIBUTE_KEY,
			attribute.ATTRIBUTE_NAME,
			awardGroup.BUSINESS_AWARD_GROUP_ID,
			awardGroup.GROUP_KEY,
			awardGroup.GROUP_DESCRIPTION,
			awardGroup.GROUP_ORDER,
			val.ATTRIBUTE_VALUE_ID AS VAL_ATTRIBUTE_VALUE_ID,
			val.ATTRIBUTE_VALUE AS VAL_ATTRIBUTE_VALUE,
			COALESCE(awardDefs.DEFAULT_VALUE, 0 ) AS VAL_DEFAULT_VALUE,
			COALESCE(awardDefs.ITEM_ORDER, -1) AS VAL_ITEM_ORDER
		FROM SMC.OBM_ATTRIBUTE_VALUE val
		LEFT JOIN SMC.OBM_ATTRIBUTE attribute
			ON attribute.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		LEFT JOIN SMC.OBM_BUSINESS_AWARD_DEFAULTS awardDefs
			ON awardDefs.ITEM_ID = val.ATTRIBUTE_VALUE_ID
		JOIN SMC.OBM_BUSINESS_AWARD_GROUP awardGroup
			ON awardGroup.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		ORDER BY attribute.ATTRIBUTE_ID
	</select>
	
	<select id="getBuildAttributeById" resultMap="BuildAttributeMap">
		SELECT
			attribute.ATTRIBUTE_ID,
			attribute.ATTRIBUTE_KEY,
			attribute.ATTRIBUTE_NAME,
			awardGroup.BUSINESS_AWARD_GROUP_ID,
			awardGroup.GROUP_KEY,
			awardGroup.GROUP_DESCRIPTION,
			awardGroup.GROUP_ORDER,
			val.ATTRIBUTE_VALUE_ID AS VAL_ATTRIBUTE_VALUE_ID,
			val.ATTRIBUTE_VALUE AS VAL_ATTRIBUTE_VALUE,
			COALESCE(awardDefs.DEFAULT_VALUE, 0 ) AS VAL_DEFAULT_VALUE,
			COALESCE(awardDefs.ITEM_ORDER, -1) AS VAL_ITEM_ORDER
		FROM SMC.OBM_ATTRIBUTE_VALUE val
		LEFT JOIN SMC.OBM_ATTRIBUTE attribute
			ON attribute.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		LEFT JOIN SMC.OBM_BUSINESS_AWARD_DEFAULTS awardDefs
			ON awardDefs.ITEM_ID = val.ATTRIBUTE_VALUE_ID
		LEFT JOIN SMC.OBM_BUSINESS_AWARD_GROUP awardGroup
			ON awardGroup.ATTRIBUTE_ID = val.ATTRIBUTE_ID
		WHERE
			attribute.ATTRIBUTE_ID = #{attributeId}
	</select>
	
	<update id="updateAttribute">
		UPDATE OBM_ATTRIBUTE SET ATTRIBUTE_NAME=#{attributeName}
		WHERE ATTRIBUTE_ID=#{attributeId}
	</update>
	
	<delete id="updateAttributeValues">
		DELETE
		FROM 	OBM_ATTRIBUTE_VALUE
		WHERE 	ATTRIBUTE_ID=#{attributeId}
		 <if test="attrValueIds != null">
           	AND 	ATTRIBUTE_VALUE_ID NOT IN 
		   	<foreach collection="attrValueIds" item="id" separator="," open="(" close=")">#{id}</foreach>
         </if>
	</delete>
	
	<insert id="addAttribute" useGeneratedKeys="true" keyProperty="attributeValue.attributeValueId">
		INSERT INTO 
					SMC.OBM_ATTRIBUTE_VALUE 
					(ATTRIBUTE_ID, ATTRIBUTE_VALUE)
 		VALUES 		(#{attributeId}, #{attributeValue.attributeValue})
	</insert>
	
 	<select id="getAllAttributeValues" resultType="String">
 		SELECT 
				TRIM(ATTRIBUTE_VALUE)
		FROM
				SMC.OBM_ATTRIBUTE_VALUE
		WHERE
				ATTRIBUTE_ID=#{attributeId} 
	</select>
</mapper>