#jstree-mfr-div{
	width:35%;
	float:left;
	height:460px;
	overflow-y:scroll;
	margin-right:50px;
	margin-top:15px;
}


  .po-category-accordion-container{
	width:55%;
	float:left;
	margin-bottom:10px;
	height:460px;
	overflow-y:scroll;
}
 
.po-category-accordion{
	width:90%;
	margin-top: 5px;
	} 
	
.delete-image-container{
    position: relative;
    float: right;
}

.delete-image-container > .delete-icon{
    position: absolute;
    right: -30px;
    top:-26px;
}  

	
.add-category-modal select{
	width:200px;
		
}

.add-category-modal fieldset{
	width:170px;
	Height:200px;
}

.save{
	position:absolute;
	bottom:3px;
	right:5px;
}
 .po-category-accordion-container .save-btn{

	position:relative;
	right:-380px;
	margin-bottom:20px;
	
} 

.save-btn{
	float:right;
	margin-right:20px;
}
.clear{
	height:10px;
}

.checkVendor{
	display:none;
}

.cancel-back{
	clear:left;
}

.error{
	display:none;
}