.chosen-drop  ul 
{
	margin-left: 0px !important;
}
#rulePopupDiv{
	width:100%!important;
} 

#rulePopupDiv .ruleNameList ,#ruleDetailsPage .ruleDescription{
	float: left;
}
.ruleNameList{
	display: inline-block;
	width:23%;
	height:250px;
	overflow:auto;
	padding-left:2px;
	background-color:#F3F3F3;
	min-height: 308px;
}
#ruleDetailsPage{
	margin-left:9px;
	display: inline-block;
	height: auto;
	float:left;
	width:75%;
}
.ruleDescription{
	display: inline-block;
	height: auto;
	width:100%;
}
.rulesFieldsetDisplay{
	margin-left: 2px;
	padding-top: 10px;
	min-height: 290px;
	width:99%;
	overflow: auto;
}
.ruleName{
	margin-left: 8px;
	padding-bottom: 6px;
}
.ruleDesc{
	margin-left: 28px;
}
#createRule-Table{
	width:100%;
}
.checkBoxDiv{
	float:left;
	width:65%;
	margin-top: 6px;
}
.addCriteriaGroup{
	margin-top: 6px;
}
.buttonSave{
	float:right;
	margin-top: 5px;
}
.chosen-container .chosen-results{
	max-height: 100px!important;
}
.ui-dialog-content .ui-widget-content{
	overflow: hidden !important;
}
td{
	font-size: 15px!important;
	
}
.rules{
	width:100%!important;
}
.priority{
	width:100%!important;
}
.checkBoxPadding{
	margin-left: 10px;
}
.ruleCount{
	padding-right: 25px;
}
.highlightRule{
	background-color:#0073cf73;
}
.hidden{
	display:none;
}
.searchSelect{
	width:400px!important;
}
.operandsDropDown{
	width: 114px;
}
.componentValue{
	width:157px;
}
.checkBoxAndSaveDiv{
	width:100%;
}
.imageAlign{
	position: relative;
    top: 2px;
    margin-right: 3px;
}
.adderAlign{
float: right;
}

td .icon {
    margin-left: -5px!important;
    margin-right: 5px!important;
}
.existingRulesHeading{
	padding-bottom: 4px;
}

.icon-bar {
  background-color: #000000;
  display: block;
  width: 19px;
  height: 3px;
  border-radius: 1px;
  margin-top: 3px;
  margin-right: 3px;
}