<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="maxFileSize" value="1024KB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="/logs/apps/suppliermgmt/suppliermgmt.log" />
		<layout class="com.penske.log4j.WebSpherePatternLayout">
			<param name="ConversionPattern" value="%d [~C | ~N | ~S] %-5p (%F:%M():%L)  - %m%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.RollingFileAppender" name="splunk">
		<param value="/logs/apps/suppliermgmt/splunk.spk" name="File" />
		<param value="9" name="MaxBackupIndex" />
		<param value="1000KB" name="MaxFileSize" />
		<layout class="com.penske.log4j.WebSpherePatternLayout">
			<param value="%d [~C | ~N | ~S | %t] %-5p (%F:%M():%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>

	<appender name="smtpAppender" class="org.apache.log4j.net.SMTPAppender">
		<param name="bufferSize" value="1" />
		<param name="SMTPHost" value="mail.penske.com" />
		<param name="from" value="log4j@suppliermgmt.penske.com" />
		<param name="subject" value=" Suppliermgmt QA logging system" />
		<param name="to" value="smc.developers@penske.com" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="java.sql.ResultSet">
		<level value="error" />
	</logger>
	<logger name="org.mybatis.spring.SqlSessionUtils">
		<level value="info" />
	</logger>
	<logger name="org.mybatis.spring.transaction.SpringManagedTransaction">
		<level value="info" />
	</logger>
	<logger name="org.springframework.jdbc.datasource.DataSourceUtils">
		<level value="info" />
	</logger>
	
	<!-- If in DEBUG level, this class will print the toString() of any object written to JSON with @ResponseBody, which gets quite long. -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor">
    	<level value="INFO" />
    </logger>
    <!-- If in DEBUG level, this class will print the toString() of any object written to JSON with an HttpEntity return type, which gets quite long. -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.HttpEntityMethodProcessor">
    	<level value="INFO" />
    </logger>

    <!-- Trace level logs for query runtimes -->
	<logger name="com.penske.apps.smccore.base.plugins.QueryLoggingPlugin">
		<level value="trace" />
	</logger>
	
	<!-- Trace level logs for request timing information -->
	<logger name="com.penske.apps.suppliermgmt.interceptor.RequestLoggingHandlerInterceptor">
		<level value="trace" />
	</logger>

	<logger name="splunk" additivity="false">
		<level value="debug" />
		<appender-ref ref="splunk" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="FILE" />
		<appender-ref ref="smtpAppender" />
	</root>
</log4j:configuration>
