<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>suppliermgmt</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>suppliermgmt</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:conf/xml/log4j.xml</param-value>
	</context-param>
 
 	<filter>
		<display-name>SSOAuthenticationFilter</display-name>
		<filter-name>SSOAuthenticationFilter</filter-name>

		<filter-class>com.penske.apps.dlinks.filters.SSOAuthenticationFilter</filter-class>
		<init-param>
			<param-name>LoginUserID</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>FirstName</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>LastName</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>GESSOEmail</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>GESSOMailStop</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>StoreInAttribute</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>StoreSessionInfoInAttrib</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ExtendedLogging</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>SessionValidationFilter</filter-name>
		<filter-class>com.penske.apps.suppliermgmt.filter.SessionValidationFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>SerializableFilter</filter-name>
		<filter-class>com.penske.apps.suppliermgmt.filter.SerializableFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>SSOAuthenticationFilter</filter-name>
		<url-pattern>/entry/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
		<filter-name>SessionValidationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>SerializableFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	 <listener>
            <listener-class>com.penske.apps.suppliermgmt.filter.SessionListener</listener-class>
      </listener>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ApplicationEntry</servlet-name>
		<servlet-class>com.penske.apps.suppliermgmt.servlet.ApplicationEntry</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApplicationEntry</servlet-name>
		<url-pattern>/entry/ApplicationEntry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SMCLogOff</servlet-name>
		<servlet-class>com.penske.apps.suppliermgmt.servlet.SMCLogOff</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMCLogOff</servlet-name>
		<url-pattern>/SMCLogOff</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>suppliermgmt</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
        <init-param>
            <param-name>spring.profiles.active</param-name>
            <param-value>qa</param-value>
        </init-param>
		<!--<load-on-startup>1</load-on-startup>
	--></servlet>

	<servlet-mapping>
		<servlet-name>suppliermgmt</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tld/taglib.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/taglib.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>*.jspf</url-pattern>
			<el-ignored>false</el-ignored>
			<is-xml>false</is-xml>
		</jsp-property-group>
	</jsp-config>
	
	<resource-ref>
	  <description>suppliermgmt data source</description>
	  <res-ref-name>ds_suppliermgmt</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	  <res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>
</web-app>