.column-left{ float: left; width: 17%; }
.column-right{ display: inline-block; width: 26%; }
.column-center{ display: inline-block; width: 46%; }
.column-right-most{ float: right; width: 8%; }
.column-data-left{ float: left; width: 17%; }
.column-data-right{ float: right; width: 36%; }
.column-data-center{ display: inline-block; width: 47%; }