.line{
	
	display:block;
	width:99%;
}
.width{
	
	width:100px;
}
.line label{
	
	display:inline-block;
	width:25%;
}
.push-right{
	
	margin-right:10px;
}
.line select{
	
	width:240px;
}
.buttonLine{
	
	float:right;
	width:100%;
}
.errorDiv{
	
	float:left;
}
.float-right{
	
	float:right;
}
.blank{
	
	height:10px;
}
.msg{
	
	margin-left:10px;	
}
#delete-list-data{
	
	list-style: none;
}
.wide-label{
	
	display:inline-block;
	width:100px;
}
.right-buttons{
	
	float:right;
}