.width{
	
	width:100px;
}
.push-right{
	
	float:right;
}
.blank{
	
	height:10px;
}
.right-buttons{
	
	float:right;
}
.push-right{
	
	margin-right:10px;
}
.buttonLine{
	
	float:right;
	width:100%;
}
.errorDiv{
	
	float:left;
}
.float-right{
	
	float:right;
}
#edit-modal-form div label{
	
	width:90px;
	display:inline-block;
}
#add-delay-reason-form div label{
	
	width:90px;
	display:inline-block;
}
.edit-input{
	
	width:220px;
	display:inline-block;
}