.width{
	
	width:100px;
}
.wide-select{
	
	width:300px;
}
.blank{
	
	height:15px;
}
.buttonLine{
	
	float:right;
	width:100%;
}
.errorDiv{
	
	float:left;
}
.float-right{
	
	float:right;
}
.line{
	
	display:block;
}
.wide-label{
	
	display:inline-block;
	width:150px;
}
#po-group-items{
	
	list-style:none;
	display:block;
	margin-left: 25px;
}
#list-div{
	width:100%;
	display:inline-block;
}
#list-div label.wide-label{
	
	vertical-align:top;
}
.wide130{
	display:inline-block;
	width:130px;
}
.right-buttons{
	
	float:right;
}
.customSearch{
	width:100%;
	float: right;
}
#poSearch{
	width:50%;
}
#unitNumSearch{
	width:50%;
}
.searchAlignNumber{
	width:22%;
	display: inline-block;
	float: right;
	margin-bottom: 5px;
	padding-top: 5px;
}
.searchPONumber{
	width:19.5%;
	display: inline-block;
	float: right;
	margin-bottom: 5px;
	padding-top: 5px;
}
.searchUnitNumber{
	width:28.1%;
	display: inline-block;
	float: right;
	margin-bottom: 5px;
	padding-top: 5px;
}
.search{
	margin-left: 10px;
}
.searchAlignText{
	width:30%;
	display: inline-block;
	float: right;
}
.addressHeader:{
	colspan:3 ;
	text-align: center;
}
.viewCol{
	width:5%;
}
.componentNameHeader{
	width:25%;
}
.vendorHeader{
	width:40%;
}
.providedByHeader{
	width:20%;
}
.dateModifiedHeader{
	width:10%;
}
.unitPOHeader{
	float: right;
	display: inline-block;
}
.popUpPONum{
	float: right;
	display: inline-block;
	margin-left: 15px;
}
.popUpUnitNum{
	float: right;
	display: inline-block;
}
.unitPoSearch{
	width:15%
}