#subject-table {
	margin-bottom: 10px;
}

.modal form input {
	padding-left: 3px;
}

.error {
	margin: 5px 5px 0 0;
}

a.save {
	margin-right: 14px;
}

a.cancel-modal {
	margin: 5px 5px 0 0;
}

form > .errorMsg {
	margin-bottom: 15px;
}