.frequency-div .save-frequency{
	margin-left: 5px;
}


.number-text-box{
	width:70px;
	text-align:right;
}

.frequency-div {
	margin-top:25px;
	margin-bottom:25px;
}

.error-message {
	margin-left:5px;
}

.frequency-error {
	display: none;
}

.form-submit-status-container {
	margin-top:50px;
	height:10px;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.ui-dialog {
	margin-top:3%;
}

.ui-dialog-content {
	overflow:hidden;
}

.tandc-paragraph {
	margin-bottom: 20px;
}

.ok-button-div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}

.tandc {
	overflow-y: scroll;
	height: 500px;
}

.ui-dialog-titlebar-close {
	display: none;
}