<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         id="WebApp_ID">
	
	<!--
		IMPORTANT: This web app uses Servlet 3.0 and a Spring WebApplicationInitializer.
			Servlets are defined here, but active spring profiles are set the WebApplicationInitializer.
			If you're looking for configuration for filters, listeners, etc., then please see the WebAppInitializer class in the servlet package.
			The only properties defined here are the ones that can't currently (as of WebSphere 8.5.5.9) be defined in Java code, and the servlet mappings.
			We define the servlet mappings here because WebSphere reads the web.xml file to find what URLs it needs to set up when generating configuration settings for the Apache server plugin.
	-->
	
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>ApplicationEntry</servlet-name>
		<servlet-class>com.penske.apps.suppliermgmt.servlet.ApplicationEntry</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SMCLogOff</servlet-name>
		<servlet-class>com.penske.apps.suppliermgmt.servlet.SMCLogOff</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>suppliermgmt</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
	 		<param-name>contextClass</param-name>
	  		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.penske.apps.suppliermgmt.configuration.WebConfiguration</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApplicationEntry</servlet-name>
		<url-pattern>/entry/ApplicationEntry</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SMCLogOff</servlet-name>
		<url-pattern>/SMCLogOff</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>suppliermgmt</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	
	<!-- WebContent Negotiation Settings -->
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tld/taglib.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/taglib.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>*.jspf</url-pattern>
			<el-ignored>false</el-ignored>
			<is-xml>false</is-xml>
		</jsp-property-group>
	</jsp-config>
	
	<resource-ref>
	  <description>suppliermgmt data source</description>
	  <res-ref-name>ds_suppliermgmt</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	  <res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref>
		<description>cro data source</description>
		<res-ref-name>ds_cro</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref>
		<description>salesnet data source</description>
		<res-ref-name>ds_smcof_salesnet</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
</web-app>